---
title: How to interpret soil test results 
tagnames: heavy-metals, soil, pah, pcb, lead, soil-testing, activity:soil-sampling, lab-testing, activity:soil-testing-toolkit, activity:soil-sampling-toolkit, activity:soil-testing, activity:soil, soil-contaminant-testing, interpret-soil-tests, activity:interpret-soil-tests
author: DanielleS
path: /notes/DanielleS/04-12-2019/how-to-interpret-soil-test-results.md
nid: 19047
uid: 569208

---

# How to interpret soil test results 

by [DanielleS](../profile/DanielleS) April 12, 2019 21:04

April 12, 2019 21:04 | Tags: [heavy-metals](../tag/heavy-metals), [soil](../tag/soil), [pah](../tag/pah), [pcb](../tag/pcb), [lead](../tag/lead), [soil-testing](../tag/soil-testing), [activity:soil-sampling](../tag/activity:soil-sampling), [lab-testing](../tag/lab-testing), [activity:soil-testing-toolkit](../tag/activity:soil-testing-toolkit), [activity:soil-sampling-toolkit](../tag/activity:soil-sampling-toolkit), [activity:soil-testing](../tag/activity:soil-testing), [activity:soil](../tag/activity:soil), [soil-contaminant-testing](../tag/soil-contaminant-testing), [interpret-soil-tests](../tag/interpret-soil-tests), [activity:interpret-soil-tests](../tag/activity:interpret-soil-tests)

----

![image description](/i/31445.jpg "soil_test_results.jpg")**Measurements**   

Your soil test results are often given
as parts per million (ppm) of the contaminant being measured. A value of 1 ppm
means that for every million "parts" of soil by dry weight, there would be 1
part of the contaminant. On some soil tests, levels of metals are described in units of "µg/g",
essentially meaning "micro-grams per gram," or "mg/kg"
(milligrams of contaminant per kilogram of soil), which are both the same as
ppm. 

The
number you see beside each type of contaminant you tested for is telling you
the "total" concentration of that contaminant in that soil sample. This does
give you a sense of what to watch out for, but is not the full picture because
there are many factors which impact how much of that contaminant will be
available to be taken into your body and cause harm. We will explore this more
later. 

**So is my soil contaminated****?**

To understand this, you will need to
compare the contaminant concentrations in your soil with the 'screening levels'
or 'allowable limits' for each contaminant tested. Sometimes the lab will
include the screening limits for various land uses in your results. Various
agencies, including the Environmental Protection Agency, have published soil
quality guidelines to help protect environmental and human health. These
allowable limits or screening levels vary greatly by agency, country, state,
and even city. It is interesting to consider why. In the US, polluting
industries have a strong lobby and frequently push for the relaxation of
environmental regulation and limits on their pollution. Why is it acceptable
for soils in Kansas to have higher levels of Benzene than California? Given
known toxicological data about the effects of exposures to lead through urban
gardening, why are the allowable levels 4x higher in the US than in Canada? 

The maximum acceptable level is the
highest concentration at which diverse health effects _cannot_ be seen in the exposed receptor. Soil that is considered
contaminated is soil which has levels of a element or chemical that
are higher than these guidelines for a certain type of land use (residential,
agricultural, industrial, recreational, etc). Soil screening levels or limits are based on the exposure pathways of
concern at the site (e.g., ingestion). The US EPA classifies land use in these ways: 

(1)
"Unrestricted use" --
includes vegetable gardens 

(2)
"Residential use" -- housing 

(3)
"Restricted use" -- includes commercial
(industrial) and recreational sites. 

**  
**

**We compared soil contaminant guidelines from various states, countries and agencies below.   
**

**Total concentrations vs
actual risk **

Allowable levels of lead are often
given at 100-400 ppm, but given a soil lead level of 100 ppm, eating
approximately two teaspoons of this soil per week would be required to give the
same amount of lead found in a diet that can cause elevated blood levels of
concern. However, when you see that your soil has 140 ppm Lead, this is the
total lead found in the soil sample, not the amount of lead that is available
to get into your plants or your body and affect your health. Further, we cannot
assume that metals are in one of the most toxic and available chemical forms,
which is not always the case with metals and other contaminants in soil. For example, hexavalent
chromium, or "chromate," is highly toxic to humans. However, total chromium is
usually almost entirely in the less toxic form of trivalent chromium. 

The behavior of contaminants in the
environment, tendency to be taken up by plants, and potential for health
effects of human exposure to those metals depend on their chemical form. For
example, some forms of metals can readily dissolve in water (soluble) and
therefore can enter plants or the human body more easily than forms that cannot
easily dissolve (insoluble). Human and plant toxicity depend upon the amount of
metal that enters the body or plant-- this has to do with what is called
"bioavailability."

To learn more about how to
test soil, see [Cornell Waste Management Institute Guide to Soil Testing and Interpreting
Results](http://cwmi.css.cornell.edu/guidetosoil.pdf). 

To learn
more about various soil contaminants, and how they act in soils, check out: [https://publiclab.org/wiki/soil](https://publiclab.org/wiki/soil) 

**![image description](/i/31446.png "contams_table_pls.png")**