---
title: How to read Environmental Test Results
tagnames: air-quality, water-quality, bucket-brigade, new, draft, soil-quality, activity:air-quality, activity:new, lon:-71, lat:42, zoom:6, bucket-monitor, activity:bucket-monitor, statistics-for-action, interpret-results-intro
author: kgradow1
path: /notes/kgradow1/12-16-2020/how-to-read-environmental-test-results.md
nid: 25270
uid: 297929

---

![](https://publiclab.org/public/system/images/photos/000/042/046/original/Screen_Shot_2020-12-16_at_4.00.59_PM.png)

# How to read Environmental Test Results

by [kgradow1](../profile/kgradow1) December 16, 2020 21:01

December 16, 2020 21:01 | Tags: [air-quality](../tag/air-quality), [water-quality](../tag/water-quality), [bucket-brigade](../tag/bucket-brigade), [new](../tag/new), [draft](../tag/draft), [soil-quality](../tag/soil-quality), [activity:air-quality](../tag/activity:air-quality), [activity:new](../tag/activity:new), [lon:-71](../tag/lon:-71), [lat:42](../tag/lat:42), [zoom:6](../tag/zoom:6), [bucket-monitor](../tag/bucket-monitor), [activity:bucket-monitor](../tag/activity:bucket-monitor), [statistics-for-action](../tag/statistics-for-action), [interpret-results-intro](../tag/interpret-results-intro)

----

Adapted from the [Statistics for Action Air Quality Unit](https://sfa.terc.edu/materials/activities.html) ["A First Look at Technical Documents"](https://sfa.terc.edu/materials/pdfs/a_first_look_at_technical_documents.pdf) and generously shared with permission. You can access a printable version of this guide at [sfa.terc.edu](https://sfa.terc.edu/materials/pdfs/a_first_look_at_technical_documents.pdf)

---------
Click here for a [facilitator's guide][1].  [Original print version.][2]

##Strategies for Reading Environmental Testing Results Reports
These reports show the results of tests in which samples of soil, air, water, or sediment were taken from specific locations, brought to a laboratory, and examined to see if the samples show evidence of certain chemicals. They show where the samples were taken, how much contamination was found in each sample, and how the levels of contamination found compare to any applicable legal standards.

A report may be written by multiple organizations. A common scenario: The EPA or DEP commissions the tests and decides where to sample, but contracts with an environmental engineering company to do the actual work. The engineers then take the samples, but contract with a chemical laboratory to analyze the samples. Then the lab returns the raw results, the engineering company summarizes the most important findings, and the agency determines if any action is needed.

Remember, the reports will _not_ show contamination in locations that were not tested, or of contaminants for which the lab didn't or couldn't test. For more details about soil or water testing, review the Soil Quality Guide: Digging into the Dirt and Water Quality Guide: Read Before You Drink on the SfA web site.

####Typical Sections
Select a typical page or two from each of the following sections, if available:

1. Narrative summary of report
2. Tables with a summary of the most important data
3. Maps of the site with testing locations marked
4. Tables of full lab results, including results both over and under the detectable limits
5. Descriptions of samples from the field (temperature, pH)
6. "Chain of custody" reports

![image description](/i/41639.png "Screen_Shot_2020-11-07_at_8.16.36_PM.png")

####Categories of Questions & Observations
Below are typical categories into which questions and observations can be grouped.

![image description](/i/41635.png "Screen_Shot_2020-11-07_at_7.44.35_PM.png")

---------
Originally published by TERC in 2014 with support from the National Science Foundation and shared with permission. Any materials posted on Public Lab are not endorsed by TERC or NSF and do not necessarily represent the views of either organization. Images courtesy of the [Rini Templeton estate](https://riniart.com/).

  [1]: https://publiclab.org/notes/kgradow1/11-09-2020/a-first-look-at-technical-documents?_=1608152083
  [2]: https://sfa.terc.edu/materials/pdfs/str_reading_environmental_tests.pdf